<h1 class="sr-only visually-hidden top-content-title">Timeline of UAlbany History</h1>

<h2 class="sr-only visually-hidden top-content-title">Subject Categories</h2>

<div class="row">
	<div class="col-lg-9">
		<div class="home-masonry">
			<% subject_options.sort.each do |name, url| %>
				<div class="home-masonry-item">
					<div class="card subject-cards">
						<img class="card-img-top" src="<%= url %>?file=thumbnail" alt="Thumbnail image for <%= name %>">
						<div class="card-body text-center">
							<h3 class="h5 card-title">
								<a href="/history/catalog?f[subjects][]=<%= CGI.escape name %>" class="stretched-link subject-card-link"><%= name %></a>
							</h3>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<div class="col-lg-3">
		<% decades = (184..200) %>
		<div class="card decade-card">
			<div class="card-header">
				Decades
			</div>
			<div class="list-group">
				<% decades.each do |decade_number| %>
					<% decade = decade_number.to_s + "0" %>
					<% decade_end = decade.to_i + 10 %>
					<% search_path = "?range[date_range_isim][begin]=" + decade + "&range[date_range_isim][end]=" + decade_end.to_s %>
					<%# decade_count = decade_counter(search_path, decade, decade_end.to_s) %>

					<a href="/history<%= search_path %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<%= decade %> - <%= decade_end.to_s %>
						<span class="badge bg-primary rounded-pill"><%# decade_count %></span>
					</a>

				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h2 class="h4 card-title">About</h2>
				<p class="card-text">Much of the content in this timeline was originally curated by former University Archvist Geoffrey P. Williams as part of the <i><a href="<%= request.base_url + "/web/chronology" %>">Chronological History of the University at Albany, SUNY, 1844-2008</a></i>. Content was also drawn from the <i><a href="<%= request.base_url + "/web/onthemake" %>">University on the Make, 1960-1970</a></i> exhibit.</p>

				<h3 class="h5 card-subtitle mb-2 text-muted">Additional Contributors</h3>
				<ul>
					<li>David Abril</li>
					<li>Ben Covell</li>
					<li>Roni Kotel</li>
					<li>Sheri Sarnoff</li>
					<li>Saul Zeitlin</li>
				</ul>
			</div>
		</div>
	</div>
</div>
