


<div class="card-body row">
 
  <div class="col-md-12">
    <h3 class="h5 card-title"><%= document['title'] %></h3>
    <p class="text-muted"><%= document["display_date"] %></p>
  </div>

  <% if document.key?("file") %>
    <div class="col-sm-12 col-md-4 order-md-2 col-lg-4 order-lg-2 col-xl-12 order-xl-1 text-center">
      <img src="<%= document['file'] %>" alt="Thumbnail of <%= document['title'] %>" %>
    </div>
    <div class="col-sm-12 col-md-8 order-md-1 col-lg-8 order-lg-1 col-xl-12 order-xl-2">
    <p class="card-text"><%= truncate_html(document["description"], length: 300) %></p>
    </div>

  <% else %>
    <div class="col-md-12">
      <p class="card-text"><%= truncate_html(document["description"], length: 300) %></p>
    </div>
  <% end %>

  

</div>

<% doc_presenter = index_presenter(document) %>
